html
    head
        title= 'The Number Quiz'
        style
            include style.css
    body
        div#mainLayout
            h1= 'The Number Quiz'
            p= 'Your current score is ' + score + '.'
            form(role='form' method='POST' action='/submit-form')
                p= 'Guess the next number in the sequence.'
                p= question
                div
                    label(for='answer') Your Answer:
                    input#answer(type='text' name='answer')
                button(type="submit") Submit